node_modules/
.env
data/browser/*
!data/browser/.gitkeep
data/captures/*
!data/captures/.gitkeep
dist/
*.exe
npm-debug.log*
presentation/slides.aux
presentation/slides.log
presentation/slides.nav
presentation/slides.out
presentation/slides.snm
presentation/slides.toc
